---
import GreetingHeadline from '../components/GreetinCard.astro';
const name = 'NAKAMA ';
---
<h1 class="font-family:Atomic-Marker">Tarjeta de saludos</h1>
<GreetingHeadline greeting="Hola" name={name} />
<p>¡Espero que tenga un día maravilloso!</p>